.banner{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100vw;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

.bannertagline{
    color: white;
    font-size: 2rem;
    width: 40%;
    padding: 40px;
}

.emphasistagline{
    color: goldenrod;
}

.bannerimage{
    width: 50%;
    height: 400px;
}

.bannerimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 30px 40px 20px 20px #000 inset;
}

@media only screen and (max-width: 600px) {
    .banner{
        flex-direction: column;
        height: 400px;
    }
    .bannertagline{
        position: absolute;
        width: 90%;
        top: 100px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 30px;
    }

    .bannerimage{
        width: 100%;
    }
  }