@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.banner{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

.bannertagline{
    color: white;
    font-size: 2rem;
    width: calc(40%-80px);
    padding: 40px;
}

.emphasistagline{
    color: goldenrod;
}

.bannerimage{
    width: 60%;
    height: 400px;
}

.bannerimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 30px 40px 20px 20px #000 inset;
}

.aboutme{
    display: flex;
    flex-direction: row;
    background-color: peachpuff;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.headshot{
    width: 35%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.headshot img{
    width: 100%;
    height: 100%;
}

.aboutmedes{
    width: 50%;
    color: black;
    padding: 20px;
    text-align: left;
}

.aboutmeheading{
    font-size: 40px;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.aboutmecontent{
    font-family: 'Kalam';
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .banner{
        flex-direction: column;
        height: 400px;
    }
    .bannertagline{
        position: absolute;
        width: calc(90%-80px);
        top: 150px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 30px;
    }

    .bannerimage{
        width: 100%;
    }

    .aboutme{
        flex-direction: column;
    }

    .headshot{
        width: 250px;
        height: 50%;
    }

    .aboutmedes{
        width: 100%;
        height: 50%;
        font-size: 26px;
    }
  }